.bgimg{
    // background-image: url(../../../assets/img/login/bg.jpg);
    background-image: url(../../../assets/img/login/loginbg.png);
    object-fit: cover;
    background-repeat: no-repeat;  
    background-size: cover; 
    z-index: 5;
   
}
.full-width{
    width:100% ;
}