<div class="min-h-screen bgimg bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
      class="absolute inset-0 bg-gradient-to-r from-blue-500 to-teal-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    </div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
            <div>  <img src="assets/img/login/nemlLogo.png" style="max-width: 80%;margin: auto;"></div>
          
      <div class="max-w-md mx-auto">
        <!-- <div>
          <h1 class="text-2xl font-semibold text-center">Login</h1>
        </div> -->
                
        <div>
          <div >
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>UserID</mat-label>
                <input formControlName="username" matInput required >
                <button mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                  <mat-icon svgIcon="mat:person"></mat-icon>
              </button>
                <mat-error *ngIf="form.get('username').hasError('required')">We need an email address to log you in</mat-error>
              </mat-form-field>
          
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input [type]="inputType" formControlName="password" matInput required>
                <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
                  <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
                  <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
                </button>
               
                <mat-error *ngIf="form.get('password').hasError('required')">We need a password to log you in</mat-error>
              </mat-form-field>
         
          </div>
          
          
            <div class="flex -mx-3">
                <div class="w-full px-3 mb-5">
                    <button class="block w-full max-w-xs mx-auto bg-teal-500 hover:bg-teal-600 focus:bg-teal-700 text-white rounded-lg px-3 py-3 font-semibold">LOGIN</button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>