<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 800" class="fixed left-0 top-0 min-h-screen min-w-screen" preserveAspectRatio="none">
    <rect [attr.fill]="dark ? 'var(--primary-900)' : 'var(--primary-500)'" width="1600" height="800"/>
    <path [attr.fill]="dark ? 'var(--primary-800)' : 'var(--primary-400)'" d="M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z"/>
    <path [attr.fill]="dark ? 'var(--primary-700)' : 'var(--primary-300)'" d="M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z"/>
    <path [attr.fill]="dark ? 'var(--primary-600)' : 'var(--primary-200)'" d="M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z"/>
    <path [attr.fill]="dark ? 'var(--primary-500)' : 'var(--primary-100)'" d="M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z"/>
</svg> -->
<div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1">
    <div class="mb-4">
        <div class="text-900 text-xl font-bold mb-2">Register</div>
        <span class="text-600 font-medium"><span style="color: red"> *</span>Mark Fields are mandatory</span>
    </div>
    <p-toast></p-toast>
    <div class="grid card p-fluid">
        <div class="field col-12 md:col-6">
            <div class="field grid">
                <label htmlFor="orgId" class="col-12 mb-2 md:col-3 md:mb-0"
                    >Organization ID<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="orgId" type="text" [(ngModel)] = "registrationDetails.orgId"/>
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="orgPassword" class="col-12 mb-2 md:col-3 md:mb-0"
                    >Password<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="orgPassword" type="password" [(ngModel)] = "registrationDetails.orgPassword"/>
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="panNo" class="col-12 mb-2 md:col-3 md:mb-0"
                    >Pan No.<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="panNo" type="text" [(ngModel)] = "registrationDetails.panNo"/>
                </div>
            </div>
            <div class="field grid">
                <label
                    htmlFor="constitution"
                    class="col-12 mb-2 md:col-3 md:mb-0"
                    >Constitution<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="constitution" type="text" [(ngModel)] = "registrationDetails.constitution"/>
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="stateCode" class="col-12 mb-3 md:col-3 md:mb-0"
                    >State<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <p-dropdown
                        [options]="statesList"
                        [filter]="true" filterBy="name"
                        optionLabel="name"
                        optionValue="code"
                        [(ngModel)] = "registrationDetails.stateCode"
                    ></p-dropdown>
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="talukaCode" class="col-12 mb-3 md:col-3 md:mb-0"
                    >Taluka<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <p-dropdown
                        [options]="talukaList"
                        [filter]="true" filterBy="name"
                        optionLabel="name"
                        optionValue="code"
                        [(ngModel)] = "registrationDetails.talukaCode"
                    ></p-dropdown>
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="pincode" class="col-12 mb-2 md:col-3 md:mb-0"
                    >Pincode<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="pincode" type="text" [(ngModel)] = "registrationDetails.pincode"/>
                </div>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <div class="field grid">
                <label
                    htmlFor="organizationName"
                    class="col-12 mb-2 md:col-3 md:mb-0"
                    >Organization Name<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="organizationName" type="text" [(ngModel)] = "registrationDetails.organizationName"/>
                </div>
            </div>
            <div class="field grid">
                <label
                    htmlFor="confirmPassword"
                    class="col-12 mb-2 md:col-3 md:mb-0"
                    >Confirm Password<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="confirmPassword" type="password" [(ngModel)] = "registrationDetails.confirmPassword"/>
                </div>
            </div>
            <div class="field grid">
                <label
                    htmlFor="dateOfIncorporation"
                    class="col-12 mb-2 md:col-3 md:mb-0"
                    >Date Of Incorporation<span style="color: red">
                        *</span
                    ></label
                >
                <div class="col-12 md:col-9">
                    <p-calendar
                        [showIcon]="true"
                        inputId="dateOfIncorporation"
                        [(ngModel)] = "registrationDetails.dateOfIncorporation"
                    ></p-calendar>
                </div>
            </div>
            <div class="field grid">
                <label
                    htmlFor="registrationNo"
                    class="col-12 mb-2 md:col-3 md:mb-0"
                    >Registration Number<span style="color: red">
                        *</span
                    ></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="registrationNo" type="text" [(ngModel)] = "registrationDetails.registrationNo"/>
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="district" class="col-12 mb-3 md:col-3 md:mb-0"
                    >District<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <p-dropdown
                        [options]="districtsList"
                        [filter]="true" filterBy="name"
                        optionLabel="name"
                        optionValue="code"
                        [(ngModel)] = "registrationDetails.districtCode"
                    ></p-dropdown>
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="address" class="col-12 mb-2 md:col-3 md:mb-0"
                    >Address<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="address" type="text" [(ngModel)] = "registrationDetails.address"/>
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="landLineNo" class="col-12 mb-2 md:col-3 md:mb-0"
                    >Land Line No.<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="landLineNo" type="text" [(ngModel)] = "registrationDetails.landLineNo"/>
                </div>
            </div>
        </div>
        <div class="field col-5 md:col-4">
            <span class="p-float-label">
                <input pInputText id="panNo" type="text" [(ngModel)] = "registrationDetails.panNo"/>
                <label htmlFor="panNo">Pan No.<span style="color: red"> *</span></label> 
            </span>
        </div>
        <div class="field col-12 md:col-6">
            <div class="field grid">
                <label htmlFor="bankName" class="col-12 mb-2 md:col-3 md:mb-0"
                    >Bank Name<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="bankName" type="text" [(ngModel)] = "registrationDetails.bankName"/>
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="ifscCode" class="col-12 mb-2 md:col-3 md:mb-0"
                    >IFSC Code<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="ifscCode" type="text" [(ngModel)] = "registrationDetails.ifscCode"/>
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="gstState" class="col-12 mb-2 md:col-3 md:mb-0"
                    >GST State<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="gstState" type="text" [(ngModel)] = "registrationDetails.gstState"/>
                </div>
            </div>
            <div class="field grid">
                <label htmlFor="fssaiNo" class="col-12 mb-2 md:col-3 md:mb-0"
                    >FSSAI No.<span style="color: red"> *</span></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="fssaiNo" type="text" [(ngModel)] = "registrationDetails.fssaiNo"/>
                </div>
            </div>
            <div class="field grid">
                <label
                    htmlFor="electricityBillNo"
                    class="col-12 mb-2 md:col-3 md:mb-0"
                    >Electricity Bill No.<span style="color: red">
                        *</span
                    ></label
                >
                <div class="col-12 md:col-9">
                    <input pInputText id="electricityBillNo" type="text" [(ngModel)] = "registrationDetails.electricityBillNo"/>
                </div>
            </div>
            <br />
            <div
                class="field grid flex flex-wrap gap-2"
                style="display: flex; justify-content: flex-end"
            >
                <p-button label="Register" icon="pi pi-check" (onClick)="register(registrationDetails)"></p-button>
                <p-button
                    label="Back"
                    icon="pi pi-refresh"
                    styleClass="p-button-danger"
                    routerLink="/"
                ></p-button>
            </div>
         </div>
    </div>
</div>
